.post-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 30px;
}

.post img {
  max-width: 100%;
  transition: all 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.05)
}